// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/docs/v8/framework/articles/ValoExamples.html

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
  .imagen-principal{
    height: 100% !important;
    width: 100% !important;
    background-color: black;
    background-size: cover;
    &[width-range~="0-700px"]{//Lineas para hacer responsive
      background-image: none;
    }
  }

  .principal{
    //height: 100% !important;
    background-image: url(layouts/img/logo/CASE.jpg);
    background-color:#0F2C56;
    background-size: cover;
    //overflow: scroll;
    &[width-range~="0-700px"]{//Lineas para hacer responsive
      background-image: none;
    }
   }
   .contenedor{
        overflow:scroll;
   }

  .login-form {
    width: 400px;
    height: 460px;
    background-color:rgba(15,44,86, 0.8);
    margin: 0 auto;
    padding: 62px 68px 40px;
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 90px;

    &[width-range~="0-650px"] {
      width: 100%;
    }

    h2 {
      color: white;
      font-size: 31px;
      font-size: 32px;
      font-weight: 700;
      margin-top: 3px;
    }

    .v-textfield {
      width: 100%;
      margin-bottom: 18px;
      height: 50px;
      background-color: #e8cd9c;
      box-shadow: 0px 0px black;
      border: 2px solid black;
      color: #000000;
    }
    .btn-solicitar{
    margin-top:10px;
    width:100%;
    text-align:center;

    }
  }
}

